.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url('../../img/bg_second.png') center (center/cover) no-repeat;
    &_left {
        font-size: 36px;
        color: #FFFFFF;
        text-align: left;
        padding: 50px 0 10px 0;
    }
    &__descr {
        font-weight: 500;
        font-size: 20px;
        color: #FFFFFF;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        border: none;
        color: #fff;
        text-align: center;
        font-size: 14px;
        margin-bottom: 15px;
    }
}